.main{
    display: flex;
    position: relative;
    width: 100vh;
    height: 100vh;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    font-size: 13px;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    padding: 12px 10px 12px 10px;
    color: rgba(0,0,0,0.87);
    font-family: arial, sans-serif;
}

li a:hover {
    opacity: .85;
    text-decoration: underline;
}

.nav1 {
    align-self: center;
}

.nav2 {
    align-self: center;
    padding: 0px 10px;
}

#sign-in {
    background-color: rgb(26, 115, 232);
    border-radius: 4px;
    margin-left: 8px;
    border: 1px solid transparent;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: .25px;
    line-height: 16px;
    margin-right: 8px;
    padding: 9px 23px;
}

#sign-in:hover {
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3), 0 1px 3px 1px rgba(66,133,244,0.15);
    cursor: pointer;
    border: 1px solid transparent;
}

#google-app-logo {
    height: 24px;
    width: 24px;
    opacity: 0.5;
    cursor: pointer;
}

.google-logo {
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

/*searchbar container and items*/
.border {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#search-bar {
    display: flex;
    position: absolute;
    color: #d6d4d4;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 24px;
}

#search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

#magnifying-glass {
    height: 15px;
    width: 15px;
    opacity: 0.7;
    padding-right: 12px;
    padding-left: 16px;
}
#mic {
    height: 25px;
    width: 25px;
    padding-right: 16px;
}

.textfield {
    box-sizing: content-box;
    width: 500px;
    height: 40px;
    border: none;
}
/*end of searchbar container and items */

.search-button {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0px;
}

.searchbutton {
    background-color: #f8f9fa;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    line-height: 27px;
    height: 36px;
    padding: 0 16px;
    margin: 11px 4px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.searchbutton:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.cebuano {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 20px;
    font-size: 12px;
    font-family: arial, sans-serif;
    color: #222;
}

.cebuano li a {
    color: #1a0dab;
}

.Philippines {
    display: flex;
    position: absolute;
    width: 100%;
    font-size: 15px;
    color:#70757a;
    bottom: 50px;
    background-color: #f2f2f2;
    border-bottom: 1.8px solid #e4e4e4;
    font-family: arial, sans-serif;
}

.country { 
    display: flex;
    padding: 15px 30px;
}

#footer {
    display: flex;
    position: absolute;
    color:#70757a;
    width: 100%;
    bottom: 0px;
    font-size: 14px;
    background-color: #f2f2f2;
    font-family: arial, sans-serif;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.right {
    display: flex;
    padding: 18px;
}

.right a{
    text-decoration: none;
    color:#70757a;
}

.left {
    display: flex;
    padding: 18px
}
.left a{
    text-decoration: none;
    color:#70757a;
}